streamlit
pandas
numpy
openpyxl
groq
plotly
langchain
langchain-groq
langchain-experimental
tabulate
xlrd>=2.0.1 
streamlit
openai-whisper
yt-dlp
langchain-community
sentence-transformers
chromadb
protobuf==3.20.3 
